In [1]:
print 'This is the String'

This is the String

### String

`%s` represent string

In [2]:
s = 'STRING'
print 'Place another string with a mod and s: %s' %(s)

Place another string with a mod and s: STRING

### Floating Point Numbers

%f represent float

In [3]:
f = 1.24
print 'This is a float : %f' %(f)

This is a float : 1.240000

**%N1.N2f** where 
   1. N1 is minimum number of digit should contain before the decimal
   2. N2 shows how many number need to show after decimal.

In [1]:
f = .001
print 'We are expecting 0.001 : %1.3f' %(f)

We are expecting 0.001 : 0.001

In [7]:
print 'Floating point number %1.2f' %(13.44)

Floating point number 13.44

In [8]:
print 'Floating point number %1.0f' %(13.44)

Floating point number 13

In [9]:
print 'Floating point number %1.5f' %(13.44)

Floating point number 13.44000

## Conversion Format methods

it shoud be notedt `%s` and `%r` actually convert any python object to String using two separate method ``str()`` and ``repr()``

In [3]:
print 'Here is the number %s. Here is the string : %r' %(123.1 , 'hi')

Here is the number 123.1. Here is the string : 'hi'

In [4]:
print 'Here is the number %r. Here is the string : %s' %(123.1 , 'hi')

Here is the number 123.1. Here is the string : hi

## Multiple Formating

In [5]:
print 'First : %s, Second: %1.2f, Third: %r' %('hi!!' , 3.14,22)

First : hi!!, Second: 3.14, Third: 22

## Using the string.format() method

The best ways to format object into a string for print statements is using format method .

### The syntax is :

```'String here {var1} then also {var2}'.format(var1='somthing1' , var2=somthing2)```

examples

In [6]:
print 'This is a string with an {p}'.format(p='insert')

This is a string with an insert

In [9]:
#Multiple times
print 'One: {p}, Two: {p}, Three : {p}'.format(p='HI!')

One: HI!, Two: HI!, Three : HI!

In [10]:
#Several Objects:
print 'Object 1 : {a} , Object 2: {b} , Object 3: {c}'.format(a=1,b='two',c='12.24')

Object 1 : 1 , Object 2: two , Object 3: 12.24