 ## List Comprehensions
 
List Comprehensions allows us to build out list using differnt notation. We can think of its as essentially a one line for loop built inside of brackets.

## Example 1

In [10]:
l = []

for latter in 'word':
    l.append(latter)
l

['w', 'o', 'r', 'd']

With the help of List comprehension we can convert the above statements into a single line

In [11]:
#Grab every latter in string 
lst = [latter for latter in 'word' ]

In [12]:
#check
lst

['w', 'o', 'r', 'd']

## Example 2

In [3]:
# Square numbers in range and trun into a list

lst =[x**2 for x in range(1,10)]

In [4]:
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## Example 3

In [5]:
# check even number in range
lst = [x for x in range(11) if x%2 == 0]

In [6]:
lst

[0, 2, 4, 6, 8, 10]

## Example 4

In [8]:
celsius = [0,10,20.1 ,34.5]


fahrenheit = [ ((float)(9)/5) * temp + 32 for temp in celsius]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

## Example 5

nested list comprehensions.

In [9]:
lst  = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]